# Maven
target/
*.jar
*.class

# IDE
.idea/
*.iml
.vscode/

# LocalStack (datos persistidos localmente)
localstack-data/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Python
__pycache__/
*.pyc

# Node
node_modules/
